{% extends 'base.html.twig' %}

{% block title %}
  Newsletter - Inscription
{% endblock %}

{% block body %}
  <div class="max-w-[900px] mx-auto px-4">
    <h1 class="text-4xl text-center mt-6">Inscription à la newsletter</h1>

    <div class="md:w-1/2 mx-auto">{{ form(newsletterForm) }}</div>
  </div>
{% endblock %}
