{% extends 'base.html.twig' %}

{% block title %}
  {{ parent() }} - Contactez-nous
{% endblock %}

{% block body %}
  <h1 class="text-4xl text-center mt-12">CONTACT</h1>

  <div class="max-w-[900px] mx-auto">{{ form(contactForm) }}</div>
{% endblock %}
