{% extends 'base.html.twig' %}

{% block title %}
  La page d'index !
{% endblock %}

{% block body %}
  <h1>HOMEPAGE</h1>

  <img src="{{ asset('images/img-home.jpg') }}" alt="台灣夜市" />

  <div>
    <h2>TEST</h2>
    <p>TEST</p>
  </div>
{% endblock %}
