{% extends 'base.html.twig' %}

{% block title %}
  La page d'index !
{% endblock %}

{% block body %}
  <div class="-z-10 fixed top-0 left-0 w-screen h-screen bg-cover bg-center bg-[url('../images/bg-home.jpg')] flex flex-col items-center justify-center md:items-start">
    <h1 class="text-4xl md:text-7xl md:pl-16 text-center uppercase text-white animate-pulse">INTERSTELLAR</h1>
    <h2 class="text-white text-2xl md:text-5xl md:pl-16">Les news</h2>
  </div>
{% endblock %}
